/* Modal Styles */
.modal-toggle-container {
    width: 90%;
}
.portfolio-page-title-container {
    width: 90%;
}
.modal-image-container {
    position: relative;
    border: 5px solid transparent;
    transition: .3s ease;
}
.modal-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: .5s ease;
    background-color: #353535;
}

.modal-image-container:hover .modal-image-overlay {
    opacity: 0;
}
.modal-image-container:hover {
    border: 5px solid #6E757C;
}